Source: scape-xcorrsound
Section: sound
Priority: optional
Maintainer: Asger Askov Blekinge <abr@statsbiblioteket.dk>
Build-Depends: debhelper (>= 8.0.0), libc6, libboost-program-options-dev, libfftw3-dev
Standards-Version: 3.9.1
Homepage: https://github.com/openplanets/scape-xcorrsound
Vcs-Git: git://github.com/openplanets/scape-xcorrsound.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/scape-xcorrsound.git;a=summary

Package: scape-xcorrsound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Perform analysis on wave files by cross correlation 
 This is a package of the toolsuite scape-xcorrsound. It contains three tools
 waveform-compare: Compare two wave files to determine if they represent the
 same waveforms
 sound-match: find the location of a small wavefile inside a big wavefile
 xcorrSound: find the overlap between two wave files

